&lt;xf:set var="$messageHtml"&gt;
    &lt;h4 class="message-title"&gt;&lt;a href="{{ link('sunucular/detay', $content) }}"&gt;{$content.title}&lt;/a&gt;&lt;/h4&gt;
    &lt;xf:if is="$content.description"&gt;&lt;div&gt;{$content.description}&lt;/div&gt;&lt;/xf:if&gt;
    &lt;div class="contentRow-minor"&gt;{$content.host}:{$content.port}&lt;/div&gt;
&lt;/xf:set&gt;

&lt;xf:macro template="approval_queue_macros" name="item_message_type"
    arg-content="{$content}"
    arg-contentDate="{$content.created_date}"
    arg-user="{$content.Owner}"
    arg-messageHtml="{{ $messageHtml }}"
    arg-typePhraseHtml="{{ phrase('content_type.warext_mc_server') }}"
    arg-spamDetails="{$spamDetails}"
    arg-unapprovedItem="{$unapprovedItem}"
    arg-handler="{$handler}"
    arg-headerPhraseHtml="{$content.title}" /&gt;
