<xf:title>{$server.title} - Sunucuyu Raporla</xf:title>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">{{ phrase('warext_mc_i18n_report_server') }}</h2>
        <div class="block-body">
            <xf:form action="{{ link('sunucular/rapor', $server) }}" method="post" class="block">
                <xf:selectrow name="reason" label="{{ phrase('warext_mc_i18n_0009') }}" required="true">
                    <xf:option value="fake">{{ phrase('warext_mc_i18n_0161') }}</xf:option>
                    <xf:option value="malicious">{{ phrase('warext_mc_i18n_0162') }}</xf:option>
                    <xf:option value="scam">{{ phrase('warext_mc_i18n_0163') }}</xf:option>
                    <xf:option value="offline">{{ phrase('warext_mc_i18n_0164') }}</xf:option>
                    <xf:option value="inappropriate">{{ phrase('warext_mc_i18n_0165') }}</xf:option>
                    <xf:option value="other">{{ phrase('warext_mc_i18n_0166') }}</xf:option>
                </xf:selectrow>

                <xf:textarearow name="message"
                    label="{{ phrase('warext_mc_i18n_0010') }}"
                    explain="{{ phrase('warext_mc_i18n_0011') }}"
                    maxlength="1000"
                    required="true" />

                <xf:submitrow submit="{{ phrase('warext_mc_i18n_0012') }}" />
            </xf:form>
        </div>
    </div>
</div>
