<xf:title>{{ phrase('warext_mc_dyn_transfer_ownership_title', {'server': $server.title}) }}</xf:title>
<xf:description>{{ phrase('warext_mc_i18n_0160') }}</xf:description>

<xf:breadcrumb href="{{ link('sunucular') }}">{{ phrase('nav.warextMcServers') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('sunucular/detay', $server) }}">{$server.title}</xf:breadcrumb>

<div class="blockMessage blockMessage--warning">
    {{ phrase('warext_mc_dyn_transfer_warning') }}
</div>

<xf:form action="{{ link('sunucular/sahiplik-devret', $server) }}" ajax="true" class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('warext_mc_i18n_ownership_transfer_label') }}</div>
        <div class="block-body">
            <xf:textboxrow name="target_username" label="{{ phrase('warext_mc_i18n_0006') }}" required="required" />
            <xf:textboxrow name="confirm_title" label="{{ phrase('warext_mc_i18n_0007') }}" required="required" explain="{{ phrase('warext_mc_dyn_transfer_confirm_explain', {'server': $server.title}) }}" />
        </div>
        <xf:submitrow submit="{{ phrase('warext_mc_i18n_0008') }}" />
    </div>
</xf:form>
