<xf:title>{{ phrase('warext_mc_i18n_0179') }}</xf:title>
<xf:description>{{ phrase('warext_mc_i18n_0180') }}</xf:description>

<xf:breadcrumb href="{{ link('sunucular') }}">{{ phrase('nav.warextMcServers') }}</xf:breadcrumb>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">{{ phrase('warext_mc_dyn_current_season', {'season': $currentSeason.season_key}) }}</h2>
        <div class="block-body">
            <div class="block-row">
                <div class="contentRow-minor">
                    {{ phrase('warext_mc_i18n_start_prefix') }} <xf:date time="$currentSeason.start_date" /> {{ phrase('warext_mc_i18n_0181') }} <xf:date time="$currentSeason.end_date" />
                </div>
            </div>

            <xf:if is="$currentTop is not empty">
                <xf:foreach loop="$currentTop" value="$server">
                    <div class="block-row block-row--separated">
                        <div class="contentRow">
                            <div class="contentRow-main">
                                <div class="contentRow-title">
                                    <a href="{{ link('sunucular/detay', $server) }}">{$server.title}</a>
                                    <xf:if is="$server.is_verified"><span class="label label--primary">{{ phrase('warext_mc_i18n_0130') }}</span></xf:if>
                                </div>
                                <div class="contentRow-minor">
                                    {{ phrase('warext_mc_dyn_server_month_summary', {'votes': $server.vote_count_month, 'unique': $server.unique_voters_month, 'players': $server.players_online}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </xf:foreach>
            <xf:else />
                <div class="blockMessage">{{ phrase('warext_mc_i18n_0182') }}</div>
            </xf:if>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <h2 class="block-header">{{ phrase('warext_mc_i18n_0183') }}</h2>
        <div class="block-body">
            <xf:if is="$closedSeasons is not empty">
                <xf:foreach loop="$closedSeasons" value="$season">
                    <div class="block-row block-row--separated">
                        <div class="contentRow">
                            <div class="contentRow-main">
                                <div class="contentRow-title">
                                    <a href="{{ link('sunucular/sezon', $season) }}">{$season.season_key} Sezonu</a>
                                </div>
                                <div class="contentRow-minor">
                                    <xf:if is="$season.winner_title">{{ phrase('warext_mc_dyn_winner_label', {'title': $season.winner_title}) }} · </xf:if>
                                    {{ phrase('warext_mc_dyn_season_totals', {'votes': $season.total_votes, 'unique': $season.unique_voters, 'servers': $season.server_count}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </xf:foreach>
            <xf:else />
                <div class="blockMessage">{{ phrase('warext_mc_i18n_0184') }}</div>
            </xf:if>
        </div>
    </div>
</div>
