<xf:title>{$server.title} - Sponsor Paketi</xf:title>
<xf:description>{{ phrase('warext_mc_i18n_0293') }}</xf:description>
<xf:js src="xf/payment.js" min="1" />

<xf:breadcrumb href="{{ link('sunucular') }}">{{ phrase('nav.warextMcServers') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('sunucular/detay', $server) }}">{$server.title}</xf:breadcrumb>

<xf:if is="$currentSponsor">
    <div class="blockMessage blockMessage--important">
        {{ phrase('warext_mc_dyn_sponsor_active_until', {'date': date_time($currentSponsor.end_date)}) }}
    </div>
</xf:if>

<div class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('warext_mc_i18n_0294') }}</div>
        <div class="block-body">
            <div class="block-row">
                {{ phrase('warext_mc_dyn_sponsor_payment_info') }}
            </div>

            <xf:if is="$profiles is not empty &amp;&amp; ($price7 > 0 || $price30 > 0)">
                <xf:form action="{{ link('purchase', {'purchasable_type_id': 'warext_mc_sponsor'}) }}" ajax="true" data-xf-init="payment-provider-container" class="block">
                    <xf:hiddenval name="server_id" value="{$server.server_id}" />

                    <div class="block-body">
                        <xf:selectrow name="package_days" label="{{ phrase('warext_mc_i18n_0077') }}" explain="{{ phrase('warext_mc_i18n_0078') }}">
                            <xf:if is="$price7 > 0"><xf:option value="7">{{ phrase('warext_mc_dyn_sponsor_price', {'days': 7, 'price': $price7, 'currency': $currency}) }}</xf:option></xf:if>
                            <xf:if is="$price30 > 0"><xf:option value="30">{{ phrase('warext_mc_dyn_sponsor_price', {'days': 30, 'price': $price30, 'currency': $currency}) }}</xf:option></xf:if>
                        </xf:selectrow>

                        <xf:formrow label="{{ phrase('warext_mc_i18n_0079') }}">
                            <div class="buttonGroup">
                                <xf:foreach loop="$profiles" key="$profileId" value="$profile">
                                    <xf:button type="submit" name="payment_profile_id" value="{$profileId}" icon="purchase" class="button--primary">
                                        {{ $profile.display_title ?: $profile.title }}
                                    </xf:button>
                                </xf:foreach>
                            </div>
                        </xf:formrow>
                    </div>
                </xf:form>
                <div class="js-paymentProviderReply-warext_mc_sponsor"></div>
            <xf:elseif is="$profiles is empty" />
                <div class="blockMessage">{{ phrase('warext_mc_i18n_0295') }}</div>
            <xf:else />
                <div class="blockMessage">{{ phrase('warext_mc_i18n_0296') }}</div>
            </xf:if>
        </div>
    </div>
</div>
