&lt;xf:if is="$warextMcLinkedServer"&gt;
    &lt;xf:css src="warext_mc_servers.less" /&gt;
    &lt;div class="block warextMcThreadServerCard"&gt;
        &lt;div class="block-container"&gt;
            &lt;div class="block-row"&gt;
                &lt;div class="contentRow"&gt;
                    &lt;div class="contentRow-main"&gt;
                        &lt;div class="contentRow-title"&gt;&lt;strong&gt;{$warextMcLinkedServer.title}&lt;/strong&gt; &lt;span class="label label--primary"&gt;{{ phrase('warext_mc_i18n_0316') }}&lt;/span&gt;&lt;/div&gt;
                        &lt;div class="contentRow-minor"&gt;{{ phrase('warext_mc_dyn_linked_server_summary', {'host': $warextMcLinkedServer.host, 'port': $warextMcLinkedServer.port, 'online': $warextMcLinkedServer.players_online, 'max': $warextMcLinkedServer.players_max, 'votes': $warextMcLinkedServer.vote_count_month}) }}&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="contentRow-extra"&gt;
                        &lt;xf:button href="{{ link('sunucular/detay', $warextMcLinkedServer) }}"&gt;{{ phrase('warext_mc_i18n_0317') }}&lt;/xf:button&gt;
                        &lt;xf:if is="$warextMcLinkedServer.state == 'active'"&gt;&lt;xf:button href="{{ link('sunucular/oy', $warextMcLinkedServer) }}" class="button--cta"&gt;{{ phrase('warext_mc_i18n_0076') }}&lt;/xf:button&gt;&lt;/xf:if&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/xf:if&gt;
