&lt;xf:title&gt;{$server.title} - Sunucuyu Raporla&lt;/xf:title&gt;

&lt;div class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;h2 class="block-header"&gt;{{ phrase('warext_mc_i18n_report_server') }}&lt;/h2&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:form action="{{ link('sunucular/rapor', $server) }}" method="post" class="block"&gt;
                &lt;xf:selectrow name="reason" label="{{ phrase('warext_mc_i18n_0009') }}" required="true"&gt;
                    &lt;xf:option value="fake"&gt;{{ phrase('warext_mc_i18n_0161') }}&lt;/xf:option&gt;
                    &lt;xf:option value="malicious"&gt;{{ phrase('warext_mc_i18n_0162') }}&lt;/xf:option&gt;
                    &lt;xf:option value="scam"&gt;{{ phrase('warext_mc_i18n_0163') }}&lt;/xf:option&gt;
                    &lt;xf:option value="offline"&gt;{{ phrase('warext_mc_i18n_0164') }}&lt;/xf:option&gt;
                    &lt;xf:option value="inappropriate"&gt;{{ phrase('warext_mc_i18n_0165') }}&lt;/xf:option&gt;
                    &lt;xf:option value="other"&gt;{{ phrase('warext_mc_i18n_0166') }}&lt;/xf:option&gt;
                &lt;/xf:selectrow&gt;

                &lt;xf:textarearow name="message"
                    label="{{ phrase('warext_mc_i18n_0010') }}"
                    explain="{{ phrase('warext_mc_i18n_0011') }}"
                    maxlength="1000"
                    required="true" /&gt;

                &lt;xf:submitrow submit="{{ phrase('warext_mc_i18n_0012') }}" /&gt;
            &lt;/xf:form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
