<xf:title>{$server.title} - Sunucu Ekibi</xf:title>
<xf:description>{{ phrase('warext_mc_i18n_0297') }}</xf:description>

<xf:breadcrumb href="{{ link('sunucular') }}">{{ phrase('nav.warextMcServers') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('sunucular/detay', $server) }}">{$server.title}</xf:breadcrumb>

<xf:form action="{{ link('sunucular/ekip', $server) }}" ajax="true" class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('warext_mc_i18n_0298') }}</div>
        <div class="block-body">
            <xf:textboxrow name="username" label="{{ phrase('warext_mc_i18n_0080') }}" required="required" />
            <xf:selectrow name="role" value="member" label="{{ phrase('warext_mc_i18n_0081') }}">
                <xf:option value="manager">{{ phrase('warext_mc_i18n_0299') }}</xf:option>
                <xf:option value="editor">{{ phrase('warext_mc_i18n_0300') }}</xf:option>
                <xf:option value="analyst">Analist</xf:option>
                <xf:option value="support">Destek</xf:option>
                <xf:option value="member">{{ phrase('warext_mc_i18n_0301') }}</xf:option>
            </xf:selectrow>
            <xf:checkboxrow label="{{ phrase('warext_mc_i18n_0082') }}">
                <xf:option name="edit_content" value="1">{{ phrase('warext_mc_i18n_0302') }}</xf:option>
                <xf:option name="publish_updates" value="1">{{ phrase('warext_mc_i18n_0303') }}</xf:option>
                <xf:option name="view_stats" value="1">{{ phrase('warext_mc_i18n_0304') }}</xf:option>
                <xf:option name="manage_votifier" value="1">{{ phrase('warext_mc_i18n_0305') }}</xf:option>
                <xf:option name="manage_reviews" value="1">{{ phrase('warext_mc_i18n_0306') }}</xf:option>
            </xf:checkboxrow>
        </div>
        <xf:submitrow submit="{{ phrase('warext_mc_i18n_0021') }}" />
    </div>
</xf:form>

<div class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('warext_mc_i18n_current_team') }}</div>
        <div class="block-body">
            <xf:if is="$members is not empty">
                <xf:foreach loop="$members" value="$member">
                    <div class="block-row block-row--separated">
                        <div class="contentRow">
                            <div class="contentRow-main">
                                <div class="contentRow-title">
                                    <xf:username user="$member.User" rich="true" />
                                    <span class="label label--primary">{$member.role}</span>
                                </div>
                                <div class="contentRow-minor">
                                    <xf:if is="$member.permissions.edit_content">{{ phrase('warext_mc_i18n_0307') }} </xf:if>
                                    <xf:if is="$member.permissions.publish_updates">{{ phrase('warext_mc_i18n_0308') }} </xf:if>
                                    <xf:if is="$member.permissions.view_stats">{{ phrase('warext_mc_i18n_0309') }} </xf:if>
                                    <xf:if is="$member.permissions.manage_votifier">{{ phrase('warext_mc_i18n_nuvotifier_dot') }} </xf:if>
                                    <xf:if is="$member.permissions.manage_reviews">{{ phrase('warext_mc_i18n_0310') }}</xf:if>
                                </div>
                                <div class="contentRow-minor">Eklenme: <xf:date time="$member.joined_date" /></div>
                                <xf:form action="{{ link('sunucular/ekip-sil', $server) }}" ajax="true" data-xf-init="delete" style="margin-top:8px">
                                    <xf:hiddenval name="user_id" value="{$member.user_id}" />
                                    <xf:button type="submit" class="button--link">{{ phrase('warext_mc_i18n_0311') }}</xf:button>
                                </xf:form>
                            </div>
                        </div>
                    </div>
                </xf:foreach>
            <xf:else />
                <div class="blockMessage">{{ phrase('warext_mc_i18n_0312') }}</div>
            </xf:if>
        </div>
    </div>
</div>
