<xf:title>{{ phrase('warext_mc_dyn_votifier_title', {'server': $server.title}) }}</xf:title>

<xf:breadcrumb href="{{ link('sunucular') }}">{{ phrase('nav.warextMcServers') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('sunucular/detay', $server) }}">{$server.title}</xf:breadcrumb>

<div class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('warext_mc_i18n_nuvotifier_v2_integration') }}</div>
        <div class="block-body block-row">
            {{ phrase('warext_mc_dyn_votifier_info') }}
            <xf:if is="$config.last_success_date">
                <div class="contentRow-minor" style="margin-top:8px">{{ phrase('warext_mc_i18n_0323') }} <xf:date time="$config.last_success_date" /></div>
            </xf:if>
            <xf:if is="$config.last_error">
                <div class="blockMessage blockMessage--error" style="margin-top:8px">{{ phrase('warext_mc_dyn_last_error', {'error': $config.last_error}) }}</div>
            </xf:if>
        </div>
    </div>
</div>

<xf:form action="{{ link('sunucular/votifier', $server) }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:checkboxrow>
                <xf:option name="enabled" value="1" selected="$config.enabled">{{ phrase('warext_mc_i18n_0324') }}</xf:option>
            </xf:checkboxrow>

            <xf:textboxrow
                name="host"
                value="{$config.host}"
                label="{{ phrase('warext_mc_i18n_0092') }}"
                explain="{{ phrase('warext_mc_i18n_0093') }}" />

            <xf:numberboxrow
                name="port"
                value="{$config.port}"
                min="1"
                max="65535"
                label="{{ phrase('warext_mc_i18n_0094') }}"
                explain="{{ phrase('warext_mc_i18n_0095') }}" />

            <xf:textboxrow
                name="service_name"
                value="{$config.service_name}"
                maxlength="64"
                label="{{ phrase('warext_mc_i18n_0096') }}"
                explain="{{ phrase('warext_mc_i18n_0097') }}" />

            <xf:textboxrow
                name="token"
                type="password"
                maxlength="255"
                label="{{ phrase('warext_mc_i18n_0098') }}"
                explain="{$tokenExplain}" />
        </div>

        <xf:submitrow submit="{{ phrase('warext_mc_i18n_0021') }}">
            <xf:html>
                <xf:button type="submit" name="test" value="1">{{ phrase('warext_mc_i18n_0325') }}</xf:button>
            </xf:html>
        </xf:submitrow>
    </div>
</xf:form>
