&lt;xf:title&gt;{{ phrase('admin_navigation.warextMinecraftSponsors') }}&lt;/xf:title&gt;
&lt;xf:description&gt;{{ phrase('warext_mc_i18n_0404') }}&lt;/xf:description&gt;

&lt;xf:form action="{{ link('warext-minecraft/sponsors') }}" class="block" ajax="true"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-header"&gt;{{ phrase('warext_mc_i18n_0405') }}&lt;/div&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:selectrow name="server_id" label="{{ phrase('warext_mc_i18n_0118') }}" required="required"&gt;
                &lt;xf:option value="0"&gt;{{ phrase('warext_mc_i18n_0406') }}&lt;/xf:option&gt;
                &lt;xf:foreach loop="$servers" value="$server"&gt;
                    &lt;xf:option value="{$server.server_id}"&gt;{$server.title} · {$server.host}:{$server.port}&lt;/xf:option&gt;
                &lt;/xf:foreach&gt;
            &lt;/xf:selectrow&gt;
            &lt;xf:textboxrow name="label" value="Sponsorlu" maxlength="50" label="{{ phrase('warext_mc_i18n_0119') }}" /&gt;
            &lt;xf:textboxrow name="start_date" placeholder="2026-09-01 18:00" label="{{ phrase('warext_mc_i18n_0120') }}" explain="{{ phrase('warext_mc_i18n_0121') }}" /&gt;
            &lt;xf:textboxrow name="end_date" placeholder="2026-09-08 18:00" label="{{ phrase('warext_mc_i18n_0122') }}" explain="{{ phrase('warext_mc_i18n_0123') }}" /&gt;
            &lt;xf:numberboxrow name="display_order" value="10" min="1" max="10000" label="{{ phrase('warext_mc_i18n_0103') }}" /&gt;
        &lt;/div&gt;
        &lt;xf:submitrow submit="{{ phrase('warext_mc_i18n_0124') }}" /&gt;
    &lt;/div&gt;
&lt;/xf:form&gt;

&lt;div class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-header"&gt;{{ phrase('warext_mc_i18n_0407') }}&lt;/div&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:if is="$sponsors is not empty"&gt;
                &lt;xf:foreach loop="$sponsors" value="$sponsor"&gt;
                    &lt;div class="block-row block-row--separated"&gt;
                        &lt;div class="contentRow"&gt;
                            &lt;div class="contentRow-main"&gt;
                                &lt;div class="contentRow-title"&gt;
                                    &lt;strong&gt;&lt;xf:if is="$sponsor.Server"&gt;{$sponsor.Server.title}&lt;xf:else /&gt;{{ phrase('warext_mc_dyn_deleted_server', {'id': $sponsor.server_id}) }}&lt;/xf:if&gt;&lt;/strong&gt;
                                    &lt;span class="label label--orange"&gt;{$sponsor.label}&lt;/span&gt;
                                    &lt;xf:if is="$sponsor.is_current"&gt;&lt;span class="label label--green"&gt;{{ phrase('warext_mc_i18n_0408') }}&lt;/span&gt;&lt;xf:elseif is="$sponsor.state == 'paused'" /&gt;&lt;span class="label"&gt;{{ phrase('warext_mc_i18n_0409') }}&lt;/span&gt;&lt;xf:else /&gt;&lt;span class="label label--red"&gt;{{ phrase('warext_mc_i18n_0410') }}&lt;/span&gt;&lt;/xf:if&gt;
                                &lt;/div&gt;
                                &lt;div class="contentRow-minor"&gt;
                                    {{ phrase('warext_mc_i18n_start_prefix') }} &lt;xf:date time="$sponsor.start_date" /&gt; ·
                                    Bitiş: &lt;xf:if is="$sponsor.end_date"&gt;&lt;xf:date time="$sponsor.end_date" /&gt;&lt;xf:else /&gt;{{ phrase('warext_mc_i18n_0411') }}&lt;/xf:if&gt; ·
                                    {{ phrase('warext_mc_dyn_order_x', {'order': $sponsor.display_order}) }}
                                &lt;/div&gt;
                                &lt;div class="contentRow-minor"&gt;
                                    {{ phrase('warext_mc_i18n_created_by') }} &lt;xf:if is="$sponsor.Creator"&gt;&lt;xf:username user="$sponsor.Creator" /&gt;&lt;xf:else /&gt;Sistem&lt;/xf:if&gt; ·
                                    {{ phrase('warext_mc_i18n_last_change') }} &lt;xf:date time="$sponsor.updated_date" /&gt;
                                &lt;/div&gt;
                                &lt;div class="buttonGroup" style="margin-top:8px"&gt;
                                    &lt;xf:form action="{{ link('warext-minecraft/sponsor-toggle', $sponsor) }}" ajax="true"&gt;
                                        &lt;xf:button type="submit"&gt;&lt;xf:if is="$sponsor.state == 'active'"&gt;Duraklat&lt;xf:else /&gt;{{ phrase('warext_mc_i18n_0330') }}&lt;/xf:if&gt;&lt;/xf:button&gt;
                                    &lt;/xf:form&gt;
                                    &lt;xf:form action="{{ link('warext-minecraft/sponsor-delete', $sponsor) }}" ajax="true" data-xf-init="delete"&gt;
                                        &lt;xf:button type="submit" class="button--link"&gt;{{ phrase('warext_mc_i18n_0343') }}&lt;/xf:button&gt;
                                    &lt;/xf:form&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/xf:foreach&gt;
            &lt;xf:else /&gt;
                &lt;div class="blockMessage"&gt;{{ phrase('warext_mc_i18n_0412') }}&lt;/div&gt;
            &lt;/xf:if&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
