&lt;xf:title&gt;{{ phrase('warext_mc_i18n_0332') }}&lt;/xf:title&gt;
&lt;xf:description&gt;{{ phrase('warext_mc_i18n_0333') }}&lt;/xf:description&gt;

&lt;xf:form action="{{ link('warext-minecraft/audit') }}" class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:numberboxrow name="server_id" value="{$serverId}" min="0" label="{{ phrase('warext_mc_i18n_0105') }}" explain="{{ phrase('warext_mc_i18n_0106') }}" /&gt;
            &lt;xf:textboxrow name="action_key" value="{$actionKey}" label="{{ phrase('warext_mc_i18n_0107') }}" placeholder="ownership_transferred" /&gt;
        &lt;/div&gt;
        &lt;xf:submitrow submit="{{ phrase('warext_mc_i18n_0108') }}" /&gt;
    &lt;/div&gt;
&lt;/xf:form&gt;

&lt;div class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-header"&gt;{{ phrase('warext_mc_i18n_0334') }}&lt;/div&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:if is="$logs is not empty"&gt;
                &lt;xf:foreach loop="$logs" value="$log"&gt;
                    &lt;div class="block-row block-row--separated"&gt;
                        &lt;div class="contentRow"&gt;
                            &lt;div class="contentRow-main"&gt;
                                &lt;div class="contentRow-title"&gt;
                                    &lt;strong&gt;{$log.action}&lt;/strong&gt;
                                    &lt;xf:if is="$log.Server"&gt;&lt;span class="label"&gt;{$log.Server.title}&lt;/span&gt;&lt;xf:elseif is="$log.server_id" /&gt;&lt;span class="label"&gt;{{ phrase('warext_mc_dyn_server_number', {'id': $log.server_id}) }}&lt;/span&gt;&lt;/xf:if&gt;
                                &lt;/div&gt;
                                &lt;div class="contentRow-minor"&gt;
                                    {{ phrase('warext_mc_i18n_actor') }} &lt;xf:if is="$log.Actor"&gt;&lt;xf:username user="$log.Actor" /&gt;&lt;xf:else /&gt;{{ phrase('warext_mc_dyn_system_actor', {'id': $log.actor_user_id}) }}&lt;/xf:if&gt;
                                    &lt;xf:if is="$log.target_user_id"&gt; {{ phrase('warext_mc_i18n_target_prefix') }} &lt;xf:if is="$log.Target"&gt;&lt;xf:username user="$log.Target" /&gt;&lt;xf:else /&gt;#{$log.target_user_id}&lt;/xf:if&gt;&lt;/xf:if&gt;
                                    · &lt;xf:date time="$log.log_date" /&gt;
                                &lt;/div&gt;
                                &lt;xf:if is="$log.details is not empty"&gt;
                                    &lt;div class="contentRow-minor" style="margin-top:6px"&gt;
                                        &lt;xf:foreach loop="$log.details" key="$detailKey" value="$detailValue"&gt;
                                            &lt;span style="margin-right:10px"&gt;&lt;strong&gt;{$detailKey}:&lt;/strong&gt; {$detailValue}&lt;/span&gt;
                                        &lt;/xf:foreach&gt;
                                    &lt;/div&gt;
                                &lt;/xf:if&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/xf:foreach&gt;
            &lt;xf:else /&gt;
                &lt;div class="blockMessage"&gt;{{ phrase('warext_mc_i18n_0335') }}&lt;/div&gt;
            &lt;/xf:if&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;xf:pagenav page="$page" perpage="$perPage" total="$total" link="warext-minecraft/audit" params="{{ {'server_id': $serverId, 'action_key': $actionKey} }}" /&gt;
