&lt;xf:title&gt;{{ phrase('warext_mc_i18n_0361') }}&lt;/xf:title&gt;
&lt;xf:description&gt;{{ phrase('warext_mc_i18n_0413') }}&lt;/xf:description&gt;

&lt;xf:pageaction&gt;
    &lt;xf:button href="{{ link('warext-minecraft/votes') }}"&gt;{{ phrase('warext_mc_i18n_0414') }}&lt;/xf:button&gt;
    &lt;xf:button href="{{ link('warext-minecraft/servers') }}"&gt;Sunucular&lt;/xf:button&gt;
&lt;/xf:pageaction&gt;

&lt;xf:form action="{{ link('warext-minecraft/suspect-votes') }}" class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:numberboxrow name="min_score" value="{$minScore}" min="1" max="100" label="{{ phrase('warext_mc_i18n_0125') }}" /&gt;
            &lt;xf:numberboxrow name="server_id" value="{$serverId}" min="0" label="{{ phrase('warext_mc_i18n_0105') }}" explain="{{ phrase('warext_mc_i18n_0126') }}" /&gt;
        &lt;/div&gt;
        &lt;xf:submitrow submit="{{ phrase('warext_mc_i18n_0108') }}" /&gt;
    &lt;/div&gt;
&lt;/xf:form&gt;

&lt;div class="block"&gt;
    &lt;div class="block-container"&gt;
        &lt;div class="block-header"&gt;{{ phrase('warext_mc_i18n_0415') }}&lt;/div&gt;
        &lt;div class="block-body"&gt;
            &lt;xf:if is="$votes is not empty"&gt;
                &lt;xf:foreach loop="$votes" value="$vote"&gt;
                    &lt;div class="block-row block-row--separated"&gt;
                        &lt;div class="contentRow"&gt;
                            &lt;div class="contentRow-main"&gt;
                                &lt;div class="contentRow-title"&gt;
                                    &lt;strong&gt;#{$vote.vote_id} · {$vote.minecraft_username}&lt;/strong&gt;
                                    &lt;xf:if is="$vote.fraud_score &gt;= 70"&gt;
                                        &lt;span class="label label--red"&gt;{{ phrase('warext_mc_dyn_risk_score', {'score': $vote.fraud_score}) }}&lt;/span&gt;
                                    &lt;xf:elseif is="$vote.fraud_score &gt;= 50" /&gt;
                                        &lt;span class="label label--orange"&gt;{{ phrase('warext_mc_dyn_risk_score', {'score': $vote.fraud_score}) }}&lt;/span&gt;
                                    &lt;xf:else /&gt;
                                        &lt;span class="label"&gt;{{ phrase('warext_mc_dyn_risk_score', {'score': $vote.fraud_score}) }}&lt;/span&gt;
                                    &lt;/xf:if&gt;
                                    &lt;span class="label"&gt;{$vote.status}&lt;/span&gt;
                                &lt;/div&gt;

                                &lt;div class="contentRow-minor"&gt;
                                    &lt;xf:if is="$vote.Server"&gt;{{ phrase('warext_mc_dyn_server_label', {'title': $vote.Server.title}) }}&lt;xf:else /&gt;{{ phrase('warext_mc_i18n_0416') }}&lt;/xf:if&gt;
                                    &lt;xf:if is="$vote.User"&gt; · {{ phrase('warext_mc_dyn_xenforo_user_label', {'username': $vote.User.username}) }}&lt;xf:else /&gt; {{ phrase('warext_mc_i18n_guest_vote_bullet') }}&lt;/xf:if&gt;
                                    · &lt;xf:date time="$vote.vote_date" /&gt;
                                &lt;/div&gt;

                                &lt;div class="contentRow-minor"&gt;
                                    UUID: &lt;xf:if is="$vote.minecraft_uuid"&gt;{$vote.minecraft_uuid}&lt;xf:else /&gt;Yok&lt;/xf:if&gt;
                                    · Deneme: {$vote.attempt_count}
                                    &lt;xf:if is="$vote.delivered_date"&gt; {{ phrase('warext_mc_i18n_nuvotifier_delivered_bullet') }} &lt;xf:date time="$vote.delivered_date" /&gt;&lt;/xf:if&gt;
                                &lt;/div&gt;

                                &lt;xf:if is="$vote.last_error"&gt;
                                    &lt;div class="contentRow-minor"&gt;{{ phrase('warext_mc_dyn_status_note', {'note': $vote.last_error}) }}&lt;/div&gt;
                                &lt;/xf:if&gt;

                                &lt;div class="buttonGroup" style="margin-top:10px"&gt;
                                    &lt;xf:if is="$vote.status != 'rejected' &amp;&amp; $vote.status != 'processing'"&gt;
                                        &lt;xf:form action="{{ link('warext-minecraft/vote-moderate') }}" ajax="true" class="buttonGroup"&gt;
                                            &lt;xf:hiddenval name="vote_id" value="{$vote.vote_id}" /&gt;
                                            &lt;xf:hiddenval name="operation" value="reject" /&gt;
                                            &lt;xf:button type="submit" class="button--link"&gt;{{ phrase('warext_mc_i18n_0417') }}&lt;/xf:button&gt;
                                        &lt;/xf:form&gt;
                                    &lt;xf:elseif is="$vote.status == 'rejected'" /&gt;
                                        &lt;xf:form action="{{ link('warext-minecraft/vote-moderate') }}" ajax="true" class="buttonGroup"&gt;
                                            &lt;xf:hiddenval name="vote_id" value="{$vote.vote_id}" /&gt;
                                            &lt;xf:hiddenval name="operation" value="restore" /&gt;
                                            &lt;xf:button type="submit"&gt;{{ phrase('warext_mc_i18n_0418') }}&lt;/xf:button&gt;
                                        &lt;/xf:form&gt;
                                    &lt;xf:else /&gt;
                                        &lt;span class="contentRow-minor"&gt;{{ phrase('warext_mc_i18n_0419') }}&lt;/span&gt;
                                    &lt;/xf:if&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/xf:foreach&gt;
            &lt;xf:else /&gt;
                &lt;div class="blockMessage"&gt;{{ phrase('warext_mc_i18n_0420') }}&lt;/div&gt;
            &lt;/xf:if&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;xf:pagenav
    page="$page"
    perpage="$perPage"
    total="$total"
    link="warext-minecraft/suspect-votes"
    params="{{ {'min_score': $minScore, 'server_id': $serverId} }}" /&gt;
